name: Test workflow
on: 
  pull_request:
    types:
      - opened
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJson(github.event) }}"
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build project
        run: npm run build
      - name: Simulate build
        run: echo "Build successful! Deploying to production..."
